@charset "utf-8";
/* CSS Document */

	a, a:hover { color: #2f3d40; font-weight: bold; }
	.contain { overflow: auto; }
	
	/*@font-face {
		font-family: vipernova;
		src: url("../fonts/vipernova.ttf");
	}*/
	
	@font-face { 
		font-family: 'viper_noraregular';
			src: url('../fonts/vipernova.eot');
			src: url('../fonts/vipernova.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/vipernova.woff') format('woff'),
				 url('../fonts/vipernova.ttf') format('truetype'),
				 url('../fonts/vipernova.svg#viper_noraregular') format('svg');
			font-weight: normal;
			font-style: normal;
	}
	
	body { padding-top: 50px; background: #2f3d40 url("../img/bg.jpg") top center repeat-y; }
	.row { background: #000 url("../img/bg_right_nav.jpg") top right repeat-y; }
	.navbar { margin-bottom: 0; }
	.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
		border-left: 0px solid #fff;	
	}
	.dropdown-menu {
		border: 0px solid #fff;
		border-top-width: 0;
		background-color: #000;	
	}
	.dropdown-menu > li > a {
		color: #86C1CE;
		font-weight: bold;
		padding: 9px 20px;
	}
	.dropdown-menu .divider {
		background-color: #2F3D40;	
	}
	.contentScroller a { color: #86c1ce; }
	.contentScroller a:hover { color: #fff; }
	.col-md-9 .bg-info  { margin: 25px 0 0 -30px; border-left: 3px solid #fff; float: left; clear: both; padding-right: 12px; }
	.weekendRefresh { margin-top: 25px; padding: 0 15px 0 4px; }
	.col-md-9 .panel { float: left; margin: 0 30px 0 19px; background-color: #eee; width: auto; }
	.bg-info h1 { margin: 20px 12px 0 25px; padding: 0; text-transform: uppercase; font-family: 'viper_noraregular', Helvetica, sans-serif; color: #fff; }
	.bg-info h2, .bg-info h3 { margin: 20px 12px 0 25px; padding: 0; text-transform: uppercase; color: #fff; font-family: 'viper_noraregular', Helvetica, sans-serif; }
	.bg-info h3 { margin: 0 12px 12px 25px; color: #d0d0d0; }
	.heading_override h1 { margin: 0 12px 12px 25px; color: #d0d0d0; font-size: 24px; }
	.col-md-9 .bg-primary { margin-bottom: 12px; border-left: 3px solid #fff; }
	/*.contentScroller { overflow-y: auto; visibility: hidden; height: 710px; }*/
	.col-lg-12:first-of-type { /*visibility: visible;*/ }
	.more_news { color: #86c1ce; margin: 25px 0; padding-left: 4px; }
	.more_news:hover { color: #fff; }
	/* Content page styles were here... */
	.col-md-9 .nav-tabs { margin: 25px 0 0 0; padding: 0 15px 0 4px; clear: both; }
	.col-md-9 .tab-content { margin: 0 0 25px 0; padding: 0 15px 0 4px; background: none; }
	.tab-pane { background-color: #fff; padding: 12px; }
	.nav-tabs.nav-justified > li > a { border: 0 none; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; color: #86c1ce; }
	.nav-tabs.nav-justified .active a, .nav-tabs.nav-justified .active a:hover { color: #000; }
	.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
		background-color: #000;
		border: 0 none;
	}
	body .container:first-child { background: none; }
	body .container { background-color: #fff; }
	.navbar-inverse { background-color: #1a2224; border-bottom-color: #0b0e0f; border-bottom-width: 0; }
	.navbar-right a { padding: 10px 12px 0 0 !important; }
	/* Lan Ticker */
	.newsticker { margin: 15px 0; padding: 0; list-style: none; }
	.newsticker li { margin: 0; padding: 0; white-space: nowrap; list-style: none; overflow: hidden; text-overflow: ellipsis; }
	.newsticker a { color: #86c1ce; }
	.recent_short { display: none; }
	/* */
	.open .dropdown-toggle.btn-default { background-color: #fff; color: #000; border-color: #000; }
	.col-md-9:first-child {
		padding: 0;
		background-color: #1a2224;
		/* e3 */
		/*background-image: url("../img/bg_e3.jpg");
		background-position: right 418px;
		background-repeat: no-repeat;*/
	}
	.col-sm-6 .thumbnail { border-radius: 4px 4px 0 0; margin-bottom: 0; min-height: 325px; }
	.thumbnail a, .thumbnail a:hover { color: #2f3d40; font-weight: normal; }
	.col-sm-6 .btn {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		background-color: #000;
		border-color: #000; 
		border-bottom-color: #fff;
		width: 100%;
		margin-bottom: 15px;
		font-size: 10px;
		font-weight: bold;
		text-transform: uppercase;
	}
	.btn_grey_box {
		background-color: #eee;
		border: 0 none;
		color: #333;
		float: left;
		margin: 0;
		padding: 3%;
		font-size: 1.125em;
		text-align: center;
		width: 100%;
		margin-bottom: 15px;
	}
	.fb-like-box { background-color: #fff; }
	.bg1 { background: url("../img/bg_side_a_pros_cons.jpg") top left no-repeat; }
	.bg2 { background: url("../img/bg_side_a_lan_party.jpg") top left no-repeat; }
	.bg3 { background: url("../img/bg_side_a_ps4.jpg") top left no-repeat; }
	.bg4 { background: url("../img/bg_side_a_drm.jpg") top left no-repeat; }
	.bg5 { background: url("../img/bg_side_a_halo10th.jpg") top left no-repeat; }
	.panel {
		border-width: 0;
		border-bottom-width: 1px;
		border-left-width: 1px;
		border-radius: 0;
		margin-bottom: 0;
		width: 320px;
		display: block;
	}
	.col-md-3 .panel:last-of-type { 
		background-color: #000;
		height: 50px;
		background-color: #1a2224;
		border-bottom: 1px solid #fff;
		border-left: 1px solid #fff;
	}
	.panel:hover { border-right: 5px solid #fff; text-decoration: none; }
	.panel-title { color: #fff; margin-top: 75px; font-weight: bold; padding: 8px; background-color: rgba(0, 0, 0, .60); }
	.panel-title:hover { text-decoration: none; }
	.panel.panel-default:first-of-type {
		border-top: 1px solid #ddd;
	}
	.weekendRefresh .panel {
		border-bottom: 1px dotted #ccc;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	.weekendRefresh .panel-body {
		padding: 0 15px;
	}
	.weekendRefresh .panel-body a {
		display: block;
		font-size: 1.2em;
		padding: 8px;
	}
	.bg-info .e3-highlight-title {
		color: #ffda58;
	}
	.bg-info .e3-highlight-subtitle {
		color: #f03174;
	}
	.iframe-holder iframe {
		margin: 25px 0 15px 0;
	}
	
	/* Alerts */
	.alerts { height: 350px; }
	.alert_position { margin: 70px 0 0 0; }
	.alert_title { background-color: rgba(238, 34, 85, 0.75); font-weight: bold; color: #000; padding: 8px; width: 55%; text-transform: uppercase; }
	.alert_box { background-color: rgba(255, 255, 255, 0.75); padding: 8px; width: 55%; font-size: 1.4em; }
	.alert_side { float: right; margin-top: -100px; margin-right: 5px; }
	
	.bg-primary, .bg-info { background-color: #000; /*padding: 15px; font-size: 1.4em;*/ }
	.col-md-3 { padding: 0; }
	.col-md-3 .bg-info { border-left: 1px solid #fff; border-right: 3px solid #fff; }
	.bg-primary { margin: 0 0 0 -30px; padding-left: 4px; }
	.carousel-caption h3 { background-color: rgba(0, 0, 0, .70); padding: 8px; margin-bottom: 0; }
	.carousel-caption p { background-color: rgba(0, 0, 0, .40); padding: 8px; }
	.carousel-caption a { color: #fff; text-decoration: none; }
	.carousel-caption a:hover { background-color: #fff; color: #000; }
	.col-md-3 .col-lg-6 { background-color: #000; padding: 25px 0 25px 20px; width: 100%; }
	.donate { display: block; margin-bottom: 15px; }
	.col-md-3 .col-lg-6 .input-group { width: auto; }
	.col-md-3 .col-lg-6 .input-group .form-control { width: 200px; }
	.google_250 { display: inline-block; margin-top: 20px; }
	.google_200 { display: none; }
	/* This element holds injected scripts inside iframes that in some cases may stretch layouts. So, we're just hiding it. */
	#fb-root {
		display: none;
	}
	
	/* Paganation */
	.Pagination							{ margin: 0 0 25px 0; padding: 12px 4px 12px 10px; clear: both; color: #ccc; border-top: 1px #666 dotted; border-bottom: 1px #999 dotted; background-color: #000; }
	.Pagination a						{ margin: 2px; padding: 4px; color: #fff; border: 1px #666 solid; background-color: #fff; }
	.Pagination .Current				{ margin: 2px 0 0 0; padding: 4px; color: #fff; border: 1px #333 solid; background-color: #000; }
	.Paging								{ margin: 2px 8px 0 0; display: inline; }
	 
	/* To fill the container and nothing else */
	.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
		width: 100% !important;
	}
	.fb_contain { width: 320px; }
	/*.fb_iframe_widget {
		background-color: #fff;
	}*/
	.caption h3 { margin-top: 4px; }
	.tab-content { background-color: #fff; }
	footer { padding: 0; }
	footer a { color: #86c1ce; }
	footer a:hover { color: #fff; }
	footer .col-lg-8 { background-color: #000; float: none; margin: 0 auto; padding: 25px 15px; border-left: 3px solid #fff; border-right: 3px solid #fff; }
	footer .panel { color: #ccc; background-color: #000; border: 0 none; padding: 12px 0 25px 0; margin: 0; width: 60%; float: left; }
	footer .panel.panel-default:first-of-type { border: 0 none; }
	footer .panel-body { margin-top: 0; padding: 0; }
	footer .panel h2 { font-size: 1.2em; margin-top: 0; padding-top: 0; }
	footer .panel:hover { border: 0 none;}
	footer .row { clear: both; margin: 0; background: none; }
	footer .breadcrumb { background-color: #262626; }
	footer .breadcrumb a { font-weight: bold; }
	footer .ftr_links { background: none; border-top: 1px dotted #666; }
	#Button				{ float: right; width: 40%; }
	#Button h3			{ padding: 0 0 4px 0; margin-left: 25px; color: #fff; border-bottom: 1px dotted #666; }
	#Button ul			{ padding: 0 0 0 25px; margin: 0; list-style: none; }
	#Button ul li		{ padding: 0; margin: 0 12px 12px 0; list-style: none; display: block; float: left; }
	#Button ul li a		{ margin: 4px 0 3px 0; display: block; }
	
	.pagination {
		margin: 20px 0 20px 5px;	
	}
	.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
		background-color: #2f3d40;	
		border-color: #2f3d40;
	}
	.pagination > li > a, .pagination > li > span {
		color: #2f3d40;	
	}
	
	.pagination > li > a:hover,
	.pagination > li > span:hover,
	.pagination > li > a:focus,
	.pagination > li > span:focus {
		color: #000;
	}

	.g_foot_970 {
		margin: 12px 0;	
		display: block;
	}
	.g_foot_728 {
		display: none;	
	}
	
	/* Article Styles */
	.article_block { float: left; clear: both; margin: 12px 0; border: 1px solid #ccc; background-color: #eee; padding: 8px; }
	/* */
	
	@media (max-width: 480px) {
		.logo {
			width: 33%;	
			margin: 4%;
		}
		.navbar-brand {
			float: none;
			padding: 0;	
		}
		.row.comments {
			width: 112%;	
		}
		.fb_contain {
			width: 88%;	
		}
		.carousel-caption h3 {
			font-size: 1em;	
		}
		.carousel-caption p {
			display: none;	
		}
		.bg-primary .img-responsive {
			max-width: 90%;
			margin: 0 auto;	
		}
		.alert_title {
			width: 100%;
		}
		.alert_box {
			width: 100%;
			font-size: 1.2em;
		}
		.col-md-9:first-child {
			margin-top: 30px;
		}
		.alert_side {
			margin-top: 25px;
			text-align: center;
			float: none;
		}
	}

	@media (max-width: 991px) {
		.g_foot_970 {
			display: none;
		}
		.g_foot_728 {
			margin: 12px 0;	
			display: block;	
		}
		.col-md-9:first-child {
			background-position: right 348px;
		}
		.col-md-3 {
			clear: left;	
			background-color: #000;
		}
		.col-md-3 .bg-info {
			border: 0 none;	
		}
		.col-sm-6.col-md-4 {
			overflow: auto;
			margin-bottom: 2%;
		}
		.g_foot_728 {
			display: none;	
		}
		.container {
			width: 98%;	
		}
		.panel {
			border: 1px solid #fff;
			width: auto;
			margin-bottom: 1%;
		}
		.panel.panel-default:first-of-type {
			border-width: 1px;	
		}
		.col-md-3 .panel:last-of-type { 
			height: auto;
		}
	}
	
	@media (min-width: 768px) {
		.col-sm-6.col-md-4 {
			margin: 0;
			padding: 0 4px;
		}
	}
	@media (max-width: 991px) {
		.row { background: #000 none; }
		.nav .navbar-text { display: none; }
		.nav .recent_lans { display: none; }
		.fb_contain { width: 95%; margin-left: 20px; }
		h3, .h3 { font-size: 22px; }
	}
	@media (min-width: 992px) and (max-width: 1024px) {
		.recent_long { display: none; }
		.recent_short { display: block; }
		.panel { width: auto; }
		.col-md-3 .col-lg-6 .input-group .form-control { width: auto; }
		.col-md-9 .bg-info { margin-bottom: 15px; }
		.panel-title { margin-top: 50px; }
		.google_250 { display: none; }
		.google_200 { display: inline-block; margin-top: 20px; }
		h3, .h3 { font-size: 22px; }
	}
	@media (min-width: 992px) and (max-width: 1024px) {
		.fb_contain { width: 250px; }
		.col-md-9:first-child {
			background-position: right 318px;
		}
	}
	@media (min-width: 1024px) and (max-width: 1199px) {
		.panel { width: 256px; }
		.col-md-3 .col-lg-6 .input-group .form-control { width: auto; }
		.col-md-9 .bg-info { margin-bottom: 15px; }
		.recent_long { display: none; }
		.recent_short { display: block; }
		.panel-title { margin-top: 50px; }
		.google_250 { display: none; }
		.google_200 { display: inline-block; margin-top: 20px; }
		.fb_contain { width: 250px; }
		.col-md-9:first-child {
			background-position: right 318px;
		}
	}
	@media (min-width: 1199px) {
		footer .col-lg-8 { min-width: 1240px; }
	}
	@media (max-width: 480px) {
		.col-md-9:first-child {
			background-position: center 150px;
		}
	}
	@media (max-width: 360px) {
		.col-md-9:first-child {
			margin-top: 10px;
		}
	}