@charset "utf-8";
/* CSS Document */

	/* Content Page Inner Styling */
	.inner { background: #fff url("../img/bg_right_nav.jpg") top right repeat-y !important; }
	.post a { text-decoration: underline; }
	.post a:hover { color: #000; }
	.innerDark { background-color: #1A2224 !important; background-image: none !important; }
	.col-lg-12 { background-color: #fff; padding-bottom: 25px; }
	.innerDark .col-lg-12 { background: none; }
	.inner .col-lg-12 p { font-size: 1.2em; line-height: 1.6em; margin: 20px 0; }
	.innerDark .col-lg-12 p { font-size: 1em; }
	.inner .col-lg-12 { font-size: 1.2em; line-height: 1.6em; }
	.inner .col-lg-12 img {
		max-width: 100%;
		height: auto;		
	}
	.inner .col-lg-12 img[align=right] {
		margin: 10px 5px 5px 20px;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
	}
	.inner .col-lg-12 img[align=left] {
		margin: 10px 20px 5px 5px;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;		
	}
	.innerDark .col-lg-12 p { margin: 8px 0; }
	
	.inner .row {
		background: #eee none;
		margin-bottom: 15px;
		padding: 4px 0 4px 15px;
		font-size: 14px;
	}
	.innerDark .col-lg-12 .welcome p { margin: 20px 0; }
	.innerDark .welcome {
		padding: 4px 20px 4px 20px;
		margin-bottom: 20px;
	}
	.innerDark .welcome a {
		text-decoration: underline;	
	}
	
	.innerDark .col-lg-12 .panel { border-width: 0 ; border-bottom: 3px solid #fff; border-radius: 0; margin: 0; width: 100%; height: 350px; display: block; clear: both; }
	.innerDark .col-lg-12 .panel:hover { border-bottom: 3px solid #86C1CE; }
	.innerDark .col-lg-12 .panel-title { color: #fff; margin-top: 220px; font-size: 1.8em; }
	.innerDark .col-lg-12 .panel-title:hover { color: #86C1CE; }
	
	.inner .row h3 { margin: 6px 0; padding: 0; }
	.col-md-4 a { margin: 0 0 8px 0 !important; }
	.inner .row:last-of-type { margin-bottom: -22px; }
	.inner .bg-primary { margin-bottom: 0; }
	.inner .bg-primary h1, .inner .bg-primary h2, .inner .bg-primary h3 { margin: 0; padding: 20px 12px 0 25px; font-family: 'viper_noraregular', Helvetica, sans-serif; font-size: 2em; }
	.inner .bg-primary h2, .inner .bg-primary h3 { padding: 0 12px 12px 25px; color: #d0d0d0; font-size: 1.8em; }
	.inner .bg-primary h1 span, .inner .bg-primary h2 span, .inner .bg-primary h3 span { font-family: arial; font-weight: bold; }
	
	.hdr_push { padding-top: 50px; }
	.innerDark .hdr_push { margin-bottom: 15px !important; }
	.innerDark .clear_margin { margin-bottom: 0 !important; }
	
	.cn_left { float: left; width: 70%; }
	.cn_left img { height: 30px; width: 30px; }
	.cn_right { float: right; width: 30%; padding: 7px 0 0 0; }
	.cn_right a { display: inline-block; }
	.comments_lnk { margin: -6px 12px 0 0; float: left; }
	.addthis_toolbox { display: inline; }
	
	.bbc { margin: 1em 0; }
	.bbc > li {
		list-style: square outside none;
		padding-left: 10px;
	}

	.post blockquote { margin-bottom: 0; }
	.post hr {
		margin-top: 0;
		margin-bottom: 0;	
	}

	.col-sm-6 .thumbnail { min-height: 350px; }
	.comments { margin-top: 25px; padding-right: 15px !important; float: left; clear: both; }
	.comments h3 { padding-bottom: 12px !important; margin-bottom: 5px !important; border-bottom: 1px solid #ccc; width: 100%; }
	/*.comments h3 .moreNews { 
		background-color: #eee;
		margin-top: -20px;
		padding-top: 25px;
		position: relative; 
	}*/
	.comments .linkForum { display: block; margin: 25px 0; padding: 12px; border: 1px solid #ccc; }
	.comments .linkForum:hover { background-color: #fff; }
	.comments .thumbnail h3 { border: 0 none; margin-bottom: 0 !important; padding-bottom: 0 !important; }
	.comments .thumbnail h3 a { margin-bottom: 0 !important; }
	.comments .thumbnail a { border: 0 none; margin-bottom: 0 !important; }
	.comments .thumbnail p { font-size: 1em; }
	.innerDark .thumbnail { min-height: 360px; }
	
	.fb-comments, .fb-comments iframe[style], .fb_iframe_widget > span[style] {width: 100% !important;}
	.fb-comments, .fb-comments iframe[style], .fb-comments span[style] {width: 100% !important;}
	
	.quotetop { display: none; }
		
	.quotemain {
		padding: 10px 20px;
		margin: 0;
		font-size: 17.5px;
		border-left: 5px solid #eee;
	}
	.quotemain p:last-child,
	.quotemain ul:last-child,
	.quotemain ol:last-child {
		margin-bottom: 0;
	}
	.quotemain footer,
	.quotemain small,
	.quotemain .small {
		display: block;
		font-size: 80%;
		line-height: 1.428571429;
		color: #999;
	}
	.quotemain footer:before,
	.quotemain small:before,
	.quotemain .small:before {
		content: '\2014 \00A0';
	}
	.blockquote-reverse,
	.quotemain.pull-right {
		padding-right: 15px;
		padding-left: 0;
		text-align: right;
		border-right: 5px solid #eee;
		border-left: 0;
	}
	.blockquote-reverse footer:before,
	.quotemain.pull-right footer:before,
	.blockquote-reverse small:before,
	.quotemain.pull-right small:before,
	.blockquote-reverse .small:before,
	.quotemain.pull-right .small:before {
		content: '';
	}
	.blockquote-reverse footer:after,
	.quotemain.pull-right footer:after,
	.blockquote-reverse small:after,
	.quotemain.pull-right small:after,
	.blockquote-reverse .small:after,
	.quotemain.pull-right .small:after {
		content: '\00A0 \2014';
	}
	.quotemain:before,
	.quotemain:after {
		content: "";
	}
	
	.g_728 {
		margin: 18px 0;
	}
	.g_468 {
		display: none;
	}
	.g_320 {
		display: none;
	}
	
	/* Article Styles */
	.article_block { float: left; clear: both; margin: 12px 0; border: 1px solid #ccc; background-color: #eee; padding: 8px; }
	/* */
	
	@media (min-width: 300px) and (max-width: 467px) {
		.g_728 {
			display: none;	
		}
		.g_468 {
			display: none;	
		}
		.g_320 {
			display: block;	
		}
	}
	
	@media (min-width: 468px) and (max-width: 991px) {
		.g_728 {
			display: none;	
		}
		.g_468 {
			display: block;
		}
	}
	
	@media (max-width: 1024px) {
		.cn_left { width: 60%; }
		.cn_right { width: 40%; }
		.inner .bg-primary h1, .inner .bg-primary h2, .inner .bg-primary h3 { font-size: 1.6em; }
		.inner .bg-primary h2, .inner .bg-primary h3 { font-size: 1.4em; }
		.col-sm-6 .thumbnail { min-height: 360px; }
	}
	
	@media (min-width: 1024px) and (max-width: 1199px) {
		.cn_left { width: 60%; }
		.cn_right { width: 40%; }
		.inner .bg-primary h1, .inner .bg-primary h2, .inner .bg-primary h3 { font-size: 1.7em; }
		.inner .bg-primary h2, .inner .bg-primary h3 { font-size: 1.4em; }
		.col-sm-6 .thumbnail { min-height: 360px; }
	}
	
	/* */